<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Landing Page</title>
    <style>
        .container {
        height: 100vh;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

    </style>
</head>
<body style="background-color: rgb(158, 252, 252)">
    <div class="container">
    <h1 style="font-weight: bold; font-size: 70px">Welcome to Curhat Dong Mah!</h1>
    <br>
    <br>
    <p style="font-size: 30px;"><a href="/login" class="w3-btn w3-yellow">Login</a> or <a href="/register" class="w3-btn w3-yellow">Sign Up</a> to continue</p>
    </div>
</body>
</html>