<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Timeline</title>
</head>
<body style>

    <div style="background-color: #43d3bd; display: flex; margin-left:380px; width: 700px; margin-top:30px; border-radius: 20px 20px 0 0;">
        <h1 style="padding-left: 20px; font-weight: bold; color: rgb(39, 38, 38)">Curhat Dong Mah!</h1>
        <a href="/timeline" class="w3-btn w3-yellow" style="height: 50px; margin:10px 0 0 30px; padding-top: 14px;">Timeline</a>
        <a href="/profile/<%= sessionId %>" class="w3-btn w3-yellow" style="height: 50px; margin:10px 0 0 30px; padding-top: 14px;">Go to your Profile</a>
        <a href="/">Logout</a>
    </div>
    